@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "BackstageMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "BackstageMember";
}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
<style>
    .mb-box {
        width: 55%;
        padding: 120px;
        border-radius: 15px;
        border: 2px solid hsla(0, 0%, 85%, 1);
        margin: 0 auto;
        background-color: rgba(222, 237, 240, 0.953);
        box-shadow: 6px 6px 6px 2px gray;
    }



    .order {
        position: relative;
        top: -150px;
        left: 40px;
        text-decoration: none;
        border: none;
        padding: 5px;
        width: 15%;
        border-radius: 10px;
        margin-bottom: 15px;
        color: whitesmoke;
        cursor: pointer;
        font-size: 25px;
    }

        .order:hover {
            background-color: gray;
        }

    .logout {
        text-decoration: none;
        border: none;
        margin-left: 15px;
        margin-right: 15px;
        padding: 5px;
        width: 70%;
        border-radius: 20px;
        margin-bottom: 20px;
        color: white;
        cursor: pointer;
        font-size: 25px;
        background-color: #6A4028;
    }

        .logout:hover {
            background-color: #563F2E;
            color: white;
        }

    .order_F {
        border: 2px solid hsla(0, 0%, 85%, 1);
        padding: 5px;
    }

    .order_R {
        border: 2px solid hsla(0, 0%, 85%, 1);
        padding: 5px;
    }

    .T-title:hover {
        background-color: black;
    }

    .btn-custom {
        background-color: #1B813E;
        border-color: #1B813E;
    }

        .btn-custom:hover {
            background-color: #7BA23F;
            border-color: #7BA23F;
        }

    .sidebar {
        width: 250px;
        position: absolute;
        left: 0;
        height: 100%;
        background-color: #967249;
        border-right: 1px solid #dee2e6;
    }

        .sidebar a {
            padding: 20px 25px;
            text-decoration: none;
            font-size: 18px;
            color: white;
            display: block;
            font-weight: bold;
            font-size: 23px;
        }

            .sidebar a:hover {
                background-color: #7D532C;
            }

    /* 捲軸 */
    .table-container {
        max-height: 700px;
        overflow-y: auto;
        font-size: 18px;
    }

        .table-container table {
            table-layout: fixed;
        }

        .table-container td {
            word-wrap: break-word;
            white-space: normal;
        }

    .apple {
        position: sticky;
        top: -1px;
        z-index: 10;
    }

    h1 {
        font-weight: normal;
    }

    .viewdes {
        height: 1000px;
        margin-left: 300px;
        margin-right: 100px;
    }

    .filterSelect {
        width: 130px;
        height: 30px;
        font-size: 20px;
    }

    .SearchForm {
        width: 200px;
        height: 40px;
        font-size: 25px;
        margin-left: 10px;
    }

</style>

<div style="height:1000px;">
    <div class="sidebar" style="height:1000px;">
        <a href="@Url.Action("Backstage", "Home")">員工主頁</a>
        <a href="@Url.Action("BackstageContact", "Home")">顧客問題</a>
        <a href="@Url.Action("BackstageProduct", "Home")">產品訂單</a>
        <a href="@Url.Action("BackstageRoom", "Home")">訂房訂單</a>
        <a href="@Url.Action("BackstageMember", "Home")">會員資料管理</a>
        <br />
        <br />
        <form id="logoutForm" asp-action="Logout" asp-controller="Home" method="post">
            <button type="submit" class="logout btn ">登出</button>
        </form>

    </div>
    <div class="viewdes">

        <br />
        <h1 class="text-center " style="font-family: 'Noto Sans TC', sans-serif;font-size:50px;margin-top:40px;">會員資料管理</h1><br /><br />
        <div style="display: flex; align-items: center;">
            <form id="searchForm" class="SearchForm" style="width:80%; align-items: center;">
                <input type="text" id="searchInput" placeholder="請輸入會員姓名">
                <button type="submit" class="btn btn-info" style="width:15%; height:50px; font-size: 25px; margin-left: 10px;padding:2px;">
                    搜尋
                </button>
            </form>
        </div>
        <br />
        <div class="table-container">
            <table class="table table-hover order_R" style="background-color:white;">
                @if (Model.Count > 0)
                {
                    <thead class=" table table-dark apple">
                        <tr>
                            <th>會員ID</th>
                            <th>會員姓名</th>
                            <th>會員密碼</th>
                            <th>會員信箱</th>
                            <th>會員電話</th>
                            <th>會員住址</th>
                            <th>修改會員資料</th>
                            <th>刪除會員</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var member in Model)
                        {
                            <tr>
                                <td>@member.ID</td>
                                <td>
                                    @member.Name
                                </td>
                                <td>@member.Pwd</td>
                                <td>@member.Email</td>
                                <td>@member.Phone</td>
                                <td>@member.Address</td>
                                <td>
                                    <form asp-action="MemberEdit" asp-controller="Home" method="get">
                                        <input type="hidden" name="id" value="@member.ID" />
                                        <button type="submit" class="btn btn-primary">編輯</button>
                                    </form>
                                </td>
                                <td>
                                    <form id="deleteForm_@member.ID" asp-action="DeleteMember" asp-controller="Home" method="post">
                                        <input type="hidden" name="id" value="@member.ID" />
                                        <button type="button" class="btn btn-danger" onclick="confirmDelete(@member.ID)">刪除</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tbody>
                        <tr>
                            <td colspan="8">
                                <h1 style="text-align:center; color:darkolivegreen">暫無會員</h1>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

@*  <form id="logoutForm" asp-action="Logout" asp-controller="Home" method="post">
    <button type="submit" class="logout btn  btn-danger">登出</button>
    </form> *@

</div>

<script>

    $(document).ready(function () {
        $('#searchForm').submit(function (event) {
            event.preventDefault();
            var searchText = $('#searchInput').val().toLowerCase().trim();

            $('.table-container table tbody tr').each(function () {
                var customerName = $(this).find('td:nth-child(2)').text().toLowerCase();
                if (customerName.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        function confirmDelete(id) {
            if (confirm('確定要刪除此會員嗎？')) {
                $('#deleteForm_' + id).submit();
            }
        }
    });
</script>
