
@using System.Linq;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Order";
}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
<style>
    .order_F {
        border: 2px solid hsla(0, 0%, 85%, 1);
        padding: 5px;
    }

    h1 {
        font-weight: normal;
    }

    .order_R {
        border: 2px solid hsla(0, 0%, 85%, 1);
        padding: 5px;
    }
   

</style>

<div class="container-md">
    <br />
    <h1 class="text-center " style="font-family: 'Noto Sans TC', sans-serif;">農產品訂單</h1><br />
@*     <h2 class="text-center text-success">農產品訂單</h2><br /> *@
    <table class=" table table-hover order_F" style="background-color:white;">
        <thead class="table table-dark" style="background-color:black;">
            <tr>
                <th>訂單編號</th>
                <th>產品名稱</th>
                <th>購買數量</th>
                <th>單價</th>
                <th>訂單成立時間</th>
                <th>訂單總金額</th>
                <th>訂單狀態</th>
                <th>結帳</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var AgriculturalOrderModels in Model.AgriculturalOrders)
                {
                    <form action="/Epay/Index" method="post">
                        <tr>
                            <td>@AgriculturalOrderModels.Order.ID</td>
                                
                        <td>    
                                
                                @foreach (var product in AgriculturalOrderModels.Products)
                                {
                                <p>
                                  <input type="hidden" name="ProductName" value="@product.Name" /> @product.Name
                                </p>
                                }
                            </td>
                            <td>
                                    
                                @foreach (var orderDetail in AgriculturalOrderModels.OrderDetails)
                                {
                                <p>
                                        @orderDetail.Count

                                </p>
                                }
                            </td>
                            <td>
                                @foreach (var product in AgriculturalOrderModels.Products)
                                {
                                <p>
                                    NT$@product.Price
                                </p>
                                }
                            </td>
                             
    
                             <td>
    
                               <p>
                                 @AgriculturalOrderModels.Order.OderTime
                               </p>
    
                             </td>
                             <td>
                            
                                <p>
                                   <input type="hidden" name="SumPrice" value="@AgriculturalOrderModels.Order.SumPrice" />NT$@AgriculturalOrderModels.Order.SumPrice
                                </p>
                            
                        

                             </td>
                             <td>
    
                                <p class="@(@AgriculturalOrderModels.Order.OrderFinished ? "text-success" : "text-danger")">
                                 @(@AgriculturalOrderModels.Order.OrderFinished ? "已完成" : "未完成")
                                </p>
    
                             </td>
                             <td>
                                <a href="@Url.Action("Index", "Epay")" style=" text-decoration: none; color:black;">              
                                  <button type="submit" class="btn btn-info" >結帳</button>
                                </a>
                             </td>
    

                         </tr>
                </form>
            }

        </tbody>
            
        

     
        
    </table><br /><br /><hr /><br /><br /><br />
    <h1 class="text-center " style="font-family: 'Noto Sans TC', sans-serif;">訂房紀錄</h1><br />
    <table class="table table-hover order_R" style="background-color:white;">
        <thead class=" table table-dark" style="background-color:black;">
            <tr>
                <th>訂房編號</th>
                <th>房型</th>
                <th>單價</th>
                <th>訂單總金額</th>
                <th>入住日期</th>
                <th>退房日期</th>
                <th>訂單狀態</th>
                <th>結帳</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var RoomOrderModels in Model.RoomOrders)
            {
             <form action="/RoomEpay/Index" method="post">
                <tr>
                    <td>
                        <p>@RoomOrderModels.RoomOrder.ID</p>
                    </td>
                    <td>
                            @foreach (var rooms in RoomOrderModels.Rooms)
                            {
                            
                                @switch (rooms.CategoryID)
                                {
                                    case 1:
                                    <input type="hidden" name="RoomName" value="單人房" />
                                    <p>單人房</p>
                                        break;
                                    case 2:
                                    <input type="hidden" name="RoomName" value="雙人房" />
                                    <p>雙人房</p>
                                        break;
                                    case 3:
                                    <input type="hidden" name="RoomName" value="三人房" />
                                    <p>三人房</p>
                                        break;
                                    case 4:
                                    <input type="hidden" name="RoomName" value="四人房" />
                                    <p>四人房</p>
                                        break;
                                    default:

                                        break;
                                }
                            }
                    </td>

                    <td>

                        @foreach (var rooms in RoomOrderModels.Rooms)
                        {
                            <p>
                                NT$@rooms.Price
                            </p>
                        }
                    </td>
                    
                    <td>
                        <input type="hidden" name="RoomSumPrice" value="@RoomOrderModels.RoomOrder.SumPrice" /> <p>NT$@RoomOrderModels.RoomOrder.SumPrice</p>
                       
                    </td>
                    <td>
                        <p>@RoomOrderModels.RoomOrder.CheckIn.ToString("yyyy/MM/dd")</p>
                    </td>
                    <td>
                        <p>@RoomOrderModels.RoomOrder.CheckOut.ToString("yyyy/MM/dd")</p>

                    </td>
                    <td>
                        <p class="@(@RoomOrderModels.RoomOrder.OrderFinished ? "text-success" : "text-danger")">
                            @(@RoomOrderModels.RoomOrder.OrderFinished ? "已完成" : "未完成")
                        </p>
                    </td>
                    
                    <td>
                        <a href="@Url.Action("Index", "RoomEpay")" style=" text-decoration: none; color:black;">
                            <button class="btn btn-info">結帳</button>
                        </a>
                    </td>
                    
                </tr>
             </form>
            }

        </tbody>
     
    </table>


</div>

